<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Favourite Pic</title>
    <link href="/css/home.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Mulish&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <nav class="navbar">
      <div class="title">
        <span class="image"><img src="/image/logo.jpg" /></span>
        <h1>Favourite Pic</h1>
      </div>
      <ul>
        <li><a href="#" class="active">Home</a></li>
        <li><a href="#">Artworks</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/register">Register</a></li>
      </ul>
    </nav>

    <div class="content">
      <h1>Favourite Pic</h1>
      <h3>
        Welcome to Favourite Pic <br />
        Jump right in and explore our many artworks <br />
        Feel free to share your own artworks and buy others
      </h3>
      <a href="#"><button class="button">View Artworks</button></a>
    </div>
  </body>
</html>
