<!doctype html>
<html class="no-js" lang="en">

<head>
    <!-- title -->
    <title>Get Transcript online - Bangalore University Transcript Online &amp; RGUHS Transcript
        Online for WES IQAS ICES CES ICAS PEBC NDEB – indiantranscripts.com</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1" />
    <meta name="author" content="">
    <!-- description -->
    <meta name="description" content="IndianTranscripts - This is your One-Stop destination for all your Education
Transcript for WES IQAS ICES CES ICAS PEBC NDEB. We at IndianTranscripts have Pan India
Network in assisting people for obtaining their educational transcripts from various Universities in
India – indiantranscripts.com">
    <!-- keywords -->
    <meta name="keywords" content="Bangalore University Transcript online, RGUHS Transcript online, VTU Transcript
online, Pune University Transcript online, Mumbai University Transcript online, Madras University
Transcript online, Mysore Transcript online, Mangalore University Transcript online, Delhi University
Transcript online - indiantranscripts.com">
    <!-- favicon -->
    <link rel="shortcut icon" href="https://www.indiantranscripts.com/client_assets/assets/favicon.png">
    <!-- animation -->
    <link rel="stylesheet" href="https://www.indiantranscripts.com/client_assets/css/animate.css" />
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://www.indiantranscripts.com/client_assets/css/bootstrap.min.css" />
    <!-- et line icon -->
    <link rel="stylesheet" href="https://www.indiantranscripts.com/client_assets/css/et-line-icons.css" />
    <!-- font-awesome icon -->
    <link rel="stylesheet" href="https://www.indiantranscripts.com/client_assets/css/font-awesome.min.css" />
    <!-- themify icon -->
    <link rel="stylesheet" href="https://www.indiantranscripts.com/client_assets/css/themify-icons.css">
    <!-- swiper carousel -->
    <link rel="stylesheet" href="https://www.indiantranscripts.com/client_assets/css/swiper.min.css">
    <!-- justified gallery -->
    <link rel="stylesheet" href="https://www.indiantranscripts.com/client_assets/css/justified-gallery.min.css">
    <!-- magnific popup -->
    <link rel="stylesheet" href="https://www.indiantranscripts.com/client_assets/css/magnific-popup.css" />
    <!-- revolution slider -->
    <link rel="stylesheet" type="text/css" href="https://www.indiantranscripts.com/client_assets/revolution/css/settings.css"
        media="screen" />
    <link rel="stylesheet" type="text/css" href="https://www.indiantranscripts.com/client_assets/revolution/css/layers.css">
    <link rel="stylesheet" type="text/css" href="https://www.indiantranscripts.com/client_assets/revolution/css/navigation.css">
    <!-- bootsnav -->
    <link rel="stylesheet" href="https://www.indiantranscripts.com/client_assets/css/bootsnav.css">
    <!-- style -->
    <link rel="stylesheet" href="https://www.indiantranscripts.com/client_assets/css/style.css" />
    <!-- responsive css -->
    <link rel="stylesheet" href="https://www.indiantranscripts.com/client_assets/css/responsive.css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">

    <style>
    p {
        font-family: 'Open Sans', sans-serif;
        font-size: 15px;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: Raleway !important;
    }

    h5 {
        margin-bottom: 10px;
    }

    @font-face {
        font-family: Raleway;
        src: url(https://www.indiantranscripts.com/client_assets/fonts/Raleway-Bold.ttf);
    }

    .item1:after {
        border-bottom: 3px solid #fff;
        content: '';
        position: absolute;
        left: 45%;
        width: 11%;
        top: 195px;
        margin: 30px auto;
    }

    .item3:after {
        border-bottom: 3px solid #337ab7;
        content: '';
        position: absolute;
        left: 45%;
        width: 11%;
        top: 112px;
        margin: 0 auto;
    }

    .item2:after {
        border-bottom: 3px solid #606060;
        content: '';
        position: absolute;
        left: 32px;
        width: 11%;
        top: 217px;
        margin: 0 auto;
    }

    .item5:after {
        border-bottom: 3px solid #606060;
        content: '';
        position: absolute;
        left: 642px;
        width: 4%;
        top: 99px;
        margin: 0 auto;
    }

    input,
    textarea {
        border-bottom: 2px solid #ddd;
    }

    .myElement {
        -webkit-transition: -webkit-transform .8s ease-in-out;
        transition: transform .8s ease-in-out;
    }

    .myElement:hover {
        -webkit-transform: rotate(360deg);
    }

    input[type="text"],
    textarea {
        border-top: 0;
        border-left: 0;
        border-right: 0;
    }

    input[type="text"] {
        padding-left: 8%;
    }

    .timeline {
        position: relative;
        max-width: 1200px;
        margin: 0 auto;
    }

    /* The actual timeline (the vertical ruler) */
    .timeline::after {
        content: '';
        position: absolute;
        width: 6px;
        background-color: white;
        top: 0;
        bottom: 0;
        left: 50%;
        margin-left: -3px;
    }

    .time-main {
        padding: 10px 50px;
        position: relative;
        background-color: inherit;
        width: 50%;
    }

    .time-main::after {
        content: '';
        position: absolute;
        width: 25px;
        height: 25px;
        right: -17px;
        background-color: #61D4E8;
        border: 4px solid #2DA1E7;
        top: 15px;
        border-radius: 50%;
        z-index: 1;
    }

    .left {
        left: 0;
    }

    .right {
        left: 50%;
    }

    .left::before {
        content: " ";
        height: 0;
        position: absolute;
        top: 22px;
        width: 0;
        z-index: 1;
        right: 30px;
        border: medium solid white;
        border-width: 10px 0 10px 10px;
        border-color: transparent transparent transparent white;
    }

    .right::before {
        content: " ";
        height: 0;
        position: absolute;
        top: 22px;
        width: 0;
        z-index: 1;
        left: 30px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
    }

    .right::after {
        left: -16px;
    }

    .content {
        padding: 10px 15px;
        background-color: white;
        position: relative;
        border-radius: 6px;
    }

    .content h2 {
        font-size: 22px;
        margin: auto;
    }

    .content p {
        margin-left: 25px;
    }

    @media screen and (max-width: 600px) {
        .timeline::after {
            left: 31px;
        }

        .time-main {
            width: 100%;
            padding-left: 70px;
            padding-right: 25px;
        }

        .time-main::before {
            left: 60px;
            border: medium solid white;
            border-width: 10px 10px 10px 0;
            border-color: transparent white transparent transparent;
        }

        .left::after,
        .right::after {
            left: 15px;
        }

        .right {
            left: 0%;
        }
    }

    span.num-time {
        padding: 5% 6%;
        color: #fff;
        background: #222;
        font-size: 38px;
        border-radius: 50%;
        margin-top: 41px;
        margin-left: -12%;
        box-shadow: 2px 2px 14px #333;
    }

    span.num-time-right {
        padding: 5%;
        color: #fff;
        background: #222;
        font-size: 38px;
        border-radius: 50%;
        margin-top: 41px;
        margin-right: -12%;
        box-shadow: 2px 2px 14px #333;
    }

    section.most-sec {
        padding: 5% 0pc;
    }

    button.btn-btn {
        padding: 7px 51px;
        color: #fff;
        background: none;
        border: 3px solid #1578ba;
        border-radius: 5px;
        font-weight: bold;
        letter-spacing: 1px;
    }

    button.btn-btn:hover {
        background: #fff;
        color: #222;
        border: none;
    }

    .banner-font {
        font-size: 28px;
        line-height: 35px;
    }

    @media only screen and (max-width:767px) {
        .banner-font {
            font-size: 15px;
            line-height: 30px;
            margin-top: 30%;
        }
    }
    </style>


    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-139956421-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', 'UA-139956421-1');
    </script>

</head>

<body>
    <!-- start header -->
    <script type="text/javascript" src="https://www.indiantranscripts.com/client_assets/js/jquery.min.js"></script>
<script type="text/javascript" src="https://www.indiantranscripts.com/client_assets/js/jquery-1.9.1.min.js"></script>
<!--Popup Start-->
        <link rel="stylesheet" href="https://www.indiantranscripts.com/client_assets/pop/remodal.css">
      <link rel="stylesheet" href="https://www.indiantranscripts.com/client_assets/pop/remodal-default-theme.css">

    
    
      <style>
         .remodal-overlay.without-animation.remodal-is-opening,
         .remodal-overlay.without-animation.remodal-is-closing,
         .remodal.without-animation.remodal-is-opening,
         .remodal.without-animation.remodal-is-closing,
         .remodal-bg.without-animation.remodal-is-opening,
         .remodal-bg.without-animation.remodal-is-closing {
         animation: none;
         }
         .form-control {
         height: 42px;}
		 

         .booking-cancel, .cancel_own_booking, .delete_booking, .delete_invoice{background: #ff4e00; }
		 .signin_1{
			 margin-top:16%!important;
		 }
		 @media only screen and (max-width:767px){
			 .signin_1{
			 margin-top:2%!important;
		 }
		 }
      </style>
<script src="https://www.indiantranscripts.com/client_assets/pop/jquery-loader.js"></script>    
        <script src="https://www.indiantranscripts.com/client_assets/pop/remodal.js"></script>
       
<style>
/*whatsapp*/
.whatsapp-section {
    position: fixed;
    bottom: 80px;
    right: 17px;
    width: 50px;
    height: 45px;
    z-index: 9999;
}
</style>
<header>
    <!--    whatsapp-->
<div class="whatsapp-section" id="whatsapp">
    <a href="https://api.whatsapp.com/send?phone=+918884114731&amp;text=Hi, I have few queries. Can we connect ?" target="_blank"><img src="../../../client_assets/assets/whatsapp.png" style="width:100%" alt="whatsapp" data-no-retina=""></a>
</div>
    
    
   <!-- topbar -->
   <!-- end topbar -->
   <!-- start navigation -->
   <nav class="navbar navbar-default bootsnav navbar-top header-light bg-transparent nav-box-width white-link">
      <div class="container-fluid nav-header-container">
         <div class="row">
            <!-- start logo -->
            <div class="col-md-3 col-xs-5">
               <a href="https://www.indiantranscripts.com/index.php/home/" title="" class="logo"><img src="./icon-transparent.png" style="height:300px"      data-rjs="./icon-transparent.png" class="logo-dark default" alt="" style="width: 135px;">
               <img  src="./icon-transparent.png" data-rjs="./icon-transparent.png" style="height:2px"      alt="" class="logo-light">
			   
			   </a> 
			   <!-- <a href="https://www.indiantranscripts.com/index.php/home/" style="color:#1578ba;font-size:16px;" class="alt-font font-weight-600">Indian Transcripts</a> -->
            </div>
            <!-- end logo -->
            <div class="col-md-7 col-xs-2 width-auto pull-right accordion-menu xs-no-padding-right">
               <button type="button" class="navbar-toggle collapsed pull-right" data-toggle="collapse" data-target="#navbar-collapse-toggle-1">
               <span class="sr-only">toggle navigation</span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               </button>
               <div class="navbar-collapse collapse pull-right" id="navbar-collapse-toggle-1">
                  <ul id="accordion" class="nav navbar-nav navbar-left no-margin alt-font text-normal" data-in="fadeIn" data-out="fadeOut">
                                    <!-- start menu item -->
                                    
                                    <!-- end menu item -->
                                    <li ><a href="#">Home</a> </li>

                                    <li ><a href="#">Apply online</a> </li>
                                    <li ><a href="#">Request status</a> </li>
                                    <li ><a href="#">Contact us</a> </li>

                                     <li >
                                                <a class="btn btn-medium signin_1"  href="https://www.indiantranscripts.com/index.php/home/sign_in" style="    background-color: #b01212 !important; padding: 3px 15px 6px 15px;border-radius: 14px;">SignIn</a> 
                                               </li>
                                              <li><a class="btn btn-medium signin_1"  href="https://www.indiantranscripts.com/index.php/home/user_signup" style="    background-color:#419307 !important; padding: 3px 15px 6px 15px;border-radius:14px;">SignUp</a> 
                                              </li>
                                                         </div>
            </div>
         </div>
      </div>
   </nav>
   <!-- end navigation --> 
   <!-- end navigation --> 
</header>


 <div class="remodal" data-remodal-id="order_success" style="background-color: #ffffff ;">
         <a data-remodal-action="close" class="remodal-close" style="color:#000;"></a>                                       
         <div class="modal-body">
            <img src="https://www.indiantranscripts.com/client_assets/assets/main-logo.png" style="padding: 2%;    width: 50%;height: 50%;">
            <h4 style="line-height: 38px;font-size:19px;">Your payment was successfully done.
               Our team will get in touch with you soon....!
            </h4>
         </div>
      </div>

  <div class="remodal" data-remodal-id="order_failed" style="background-color: #ffffff;">
     <a data-remodal-action="close" class="remodal-close" style="color:#000;"></a>                                       
     <div class="modal-body">
        <img src="https://www.indiantranscripts.com/client_assets/assets/main-logo.png" style="padding: 2%; width: 50%;height: 50%;">
        <h4 style="line-height: 38px;font-size:19px;">Your payment was failed.
         Please Try again...!
        </h4>
     </div>
  </div>


  <div class="remodal" data-remodal-id="enquiry_success" style="background-color: #ffffff;">
     <a data-remodal-action="close" class="remodal-close" style="color:#000;"></a>                                       
     <div class="modal-body">
        <img src="https://www.indiantranscripts.com/client_assets/assets/main-logo.png" style="padding: 2%; width: 50%;height: 50%;">
        <h4 style="line-height: 38px;font-size:19px;">Your message has been sent.
               Our team will get in touch with you soon....!
        </h4>
     </div>
  </div>


  <div class="remodal" data-remodal-id="login_success" style="background-color: #ffffff;">
     <a data-remodal-action="close" class="remodal-close" style="color:#000;"></a>                                       
     <div class="modal-body">
        <img src="https://www.indiantranscripts.com/client_assets/assets/main-logo.png" style="padding: 2%; width: 50%;height: 50%;">
        <h4 style="line-height: 38px;font-size:19px;"> User Login is successfully done..!
        </h4>
     </div>
  </div>
  
   <div class="remodal" data-remodal-id="booking_registered" style="background-color: #ffffff;">
     <a data-remodal-action="close"  class="remodal-close" style=" color: #000;  "></a>                                       
     <div class="modal-body">
        <img src="https://www.indiantranscripts.com/client_assets/assets/main-logo" style="padding: 2%; width: 50%;height: 50%;">
        <h4 style="line-height: 38px;font-size:19px;"> Already your Booking is registered. Check the order status.
        </h4>
     </div>
  </div>

    <!-- end header -->
    <!-- start slider section -->
   <section class="no-padding main-slider  mobile-height wow fadeIn " style="height: 95% !important;">
        <div class="width-100 black-move" style="    height: 95% !important;">
            <!--         <div class="swiper-full-screen swiper-container width-100 black-move" style="    height: 95% !important;">-->
            <div class="swiper-wrapper">
                <!-- start slider iteml -->
                <div class="swiper-slide cover-background"
                    style="background-image:url('./College_entrance.PNG');  height:100%">
                    <div class="container position-relative full-screen">
                         <div class="col-md-12 slider-typography text-left xs-text-center">
                            <div class="slider-text-middle-main">
                                <div class="slider-text-middle" >
                                    <h2 class="alt-font  font-weight-700 letter-spacing-minus-1 line-height-60 margin-20px-bottom md-width-100 sm-width-100 md-line-height-auto xs-width-100 xs-margin-15px-bottom banner-font"
                                        style="text-align: center; color:white; font-style:oblique; text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;:purple">Welcome to Father Agnel Transcript Portal.<br> Please scroll down to read instructions
                                        </h2>
                                    <!-- <p class="text-white text-large margin-four-bottom width-40 md-width-50 sm-width-60 xs-width-100 xs-margin-15px-bottom" style="line-height: 30px;">One of the best academic certificate attestation agency in Bangalore having its office network throughout India</p> -->
                                    <center>
                                        <div class="btn-dual">
                                            <a href="https://www.indiantranscripts.com/index.php/apply_online/" target="_blank"
                                                class="btn btn-white btn-rounded btn-small no-margin-lr">APPLY NOW</a>
                                            <!-- <a href="#a" target="_blank" class="btn btn-transparent-white btn-rounded btn-small margin-20px-lr xs-margin-5px-top">Enquire us</a> -->
                                        </div>
                                    </center>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end slider item -->
                <!-- start slider item -->
                <!--
               <div class="swiper-slide cover-background" style="background-image:url('https://www.indiantranscripts.com/client_assets/assets/banner-2.jpg');">
                  <div class="container position-relative full-screen">
                     <div class="col-md-12 slider-typography text-left xs-text-center">
                        <div class="slider-text-middle-main">
                           <div class="slider-text-middle">
                              <h2 class="alt-font text-white font-weight-700 letter-spacing-minus-1 line-height-60 margin-20px-bottom md-width-100 sm-width-100 md-line-height-auto xs-width-100 xs-margin-15px-bottom banner-font" style="text-align: center;">Apply your Transcripts online and share them to Colleges - Credential Evaluation Centers across the world</h2>
                              <center>
                                 <div class="btn-dual">
                                    <a href="https://www.indiantranscripts.com/index.php/apply_online/" target="_blank" class="btn btn-white btn-rounded btn-small no-margin-lr">APPLY NOW</a> <a href="contact.php" target="_blank" class="btn btn-transparent-white btn-rounded btn-small margin-20px-lr xs-margin-5px-top">Enquire us</a> 
                                 </div>
                              </center>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
-->
                <!-- end slider item -->
                <!-- start slider item -->
                <!--<div class="swiper-slide cover-background" style="background-image:url('https://www.indiantranscripts.com/client_assets/assets/banner-3.jpg');">
                  <div class="container position-relative full-screen">
                     <div class="col-md-12 slider-typography text-left xs-text-center">
                        <div class="slider-text-middle-main">
                           <div class="slider-text-middle">
                              <h2 class="alt-font text-white font-weight-700 letter-spacing-minus-1 line-height-60 margin-20px-bottom md-width-100 sm-width-100 md-line-height-auto xs-width-100 xs-margin-15px-bottom banner-font" style="text-align: center;">Follow four easy steps for getting Transcripts from Indian Universities</h2>
                              <center>
                                 <div class="btn-dual">
                                    <a href="https://www.indiantranscripts.com/index.php/apply_online/" target="_blank" class="btn btn-white btn-rounded btn-small no-margin-lr">APPLY NOW</a> <a href="contact.php" target="_blank" class="btn btn-transparent-white btn-rounded btn-small margin-20px-lr xs-margin-5px-top">Enquire us</a> 
                                 </div>
                              </center>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
-->
                <!-- end slider item -->
            </div>
            <!-- start slider pagination -->
            <!--<div class="swiper-pagination swiper-full-screen-pagination"></div>
            <div class="swiper-button-next swiper-button-black-highlight display-none"></div>
            <div class="swiper-button-prev swiper-button-black-highlight display-none"></div>
            -->
            <!-- end slider pagination -->
        </div>
    </section>
    <section class=" working-process-area" style="    margin-top: -4%;background-color: #fff;">
        <div class="container">
            <div class="row" style="padding-bottom: 3%;">
                <h5 class="alt-font " style="color: #1578ba;
                  text-align: center;
                  font-size: 40px;
                  line-height: 50px;
                  font-weight: bold;">Home</h5>
            </div>

            
            <div class="row">
                <a href="https://www.indiantranscripts.com/index.php/home/sign_in">
                    <div class="col-xl-4 col-lg-4 col-md-offset-4 wow fadeInUp animated" data-wow-delay="100ms"
                        data-wow-duration="1500ms"
                        style="visibility: visible; animation-duration: 1500ms; animation-delay: 100ms; animation-name: fadeInUp;">
                        <div class="single-working-process text-center">
                            <div class="top-box"><span>01</span></div>
                            <div class="inner">
                                <h3>APPLY FOR TRANSCRIPT
                                </h3>
                                <div class="icon-holder">
                                    <span class="icon-expand"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!--End Single Working Process-->
            <div class="row">
                <!--Start Single Working Process-->

                <a href="https://www.indiantranscripts.com/index.php/home/sign_in">
                    <div class="col-xl-4 col-lg-4 wow fadeInUp animated" data-wow-delay="100ms"
                        data-wow-duration="1500ms"
                        style="visibility: visible; animation-duration: 1500ms; animation-delay: 100ms; animation-name: fadeInUp;">
                        <div class="single-working-process text-center">
                            <div class="top-box"><span>02</span></div>
                            <div class="inner">
                                <h3>
                                   APPLICATION STATUS
                                </h3>
                                <div class="icon-holder">
                                    <span class="icon-notebook"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                <!--End Single Working Process-->
                <!--Start Single Working Process-->
                <a href="https://www.indiantranscripts.com/index.php/home/sign_in">
                    <div class="col-xl-4 col-lg-4 wow fadeInUp animated" data-wow-delay="100ms"
                        data-wow-duration="1500ms"
                        style="visibility: visible; animation-duration: 1500ms; animation-delay: 100ms; animation-name: fadeInUp;">
                        <div class="single-working-process text-center">
                            <div class="top-box"><span>03</span></div>
                            <div class="inner">
                                <h3>
                                    TRANSCRIPT HISTORY
                                </h3>
                                <div class="icon-holder">
                                    <span class="icon-focus"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="https://www.indiantranscripts.com/index.php/home/sign_in">
                    <div class="col-xl-4 col-lg-4 wow fadeInUp animated" data-wow-delay="100ms"
                        data-wow-duration="1500ms"
                        style="visibility: visible; animation-duration: 1500ms; animation-delay: 100ms; animation-name: fadeInUp;">
                        <div class="single-working-process text-center">
                            <div class="top-box"><span>04</span></div>
                            <div class="inner">
                                <h3>PAYMENT HISTORY</h3>
                                <div class="icon-holder">
                                    <span class="icon-newspaper"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            
    </section>
    <!-- end slider section -->
    <!-- start section -->
    <section class="wow fadeIn bg-light-gray"
        style="background:url(https://www.indiantranscripts.com/client_assets/assets/bg2.jpg);background-size:cover;    padding: 47px 0;    clip-path: polygon(0 4vw,100% 0,100% 100%,0 100%);">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 margin-50px-bottom xs-margin-40px-bottom">
                    <div class="position-relative overflow-hidden width-100">
                        <h5 class="alt-font item1" style="color: #fff;
         text-align: center;
         font-size: 40px;padding-top: 8%;
         line-height: 50px;
         font-weight: bold;"> HOW IT WORKS</br></h5>
                        <p style="text-align:center;    color: #fff;
         padding: 1% 0% 1%;">Follow four easy steps for getting Transcripts </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="timeline">
                    <div class="time-main left">
                        <div class="content">
                            <h2><span class="num-time"><i class="fa fa-user"></i></span> SIGNUP</h2>
                            <p>Fill online Application form & Place your Order.</p>
                        </div>
                    </div>
                    <div class="time-main right">
                        <div class="content">
                            <h2 style="text-align: right;">GET CONFIRMATION <span class="num-time-right"><i
                                        class="fa fa-user-check"></i></span></h2>
                            <p>Share color scan copy of all requested documents and get confirmation about your
                                application through mail.</p>
                        </div>
                    </div>
                    <div class="time-main left">
                        <div class="content">
                            <h2><span class="num-time"><i class="fa fa-file-alt"></i></span> APPLICATION STATUS</h2>
                            <p>Once application submitted or Collected at university get confirmation of application
                                status.</p>
                        </div>
                    </div>
                    <div class="time-main right">
                        <div class="content">
                            <h2 style="text-align: right;">DELIVERY <span class="num-time-right"><i class="fa fa-truck"
                                        aria-hidden="true"></i></span></h2>
                            <p>We will courier or the university will courier the transcripts to requested address
                                across world and will share you consignment tracking details.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end section -->
    <!-- start services section -->
    <!-- end services section -->
   
    
    
    
    <style>
.text-medium {
    font-size: 15px;
    line-height: 32px;
}
ul.list-unstyled.text-black li {
    padding-bottom: 1%;
    padding-left: 2%;
    border-bottom: 1px solid #fff;
}
</style>

<footer class="footer-standard-dark bg-extra-dark-gray" > 
            <div class="footer-widget-area padding-three-tb xs-padding-30px-tb">
                <div class="container" style="padding: 0px;"
                    <div class="row equalize xs-equalize-auto">
                        <div class="col-md-3 col-sm-6 col-xs-12 widget  sm-margin-30px-bottom xs-text-center">
                            <div class="widget-title alt-font text-medium text-white text-uppercase margin-10px-bottom font-weight-600" style="font-size: 22px;"> Links</div>
                            <ul class="list-unstyled  text-black" >
                             
                                <li><a class="text-medium  text-white" href="#">About us</a></li>
                                <li><a class="text-medium  text-white" href="#">FAQs</a></li> 
                                <!-- <li><a class="text-medium  text-white" href="https://www.indiantranscripts.com/index.php/home/refund">Refund policy</a></li> -->
                                
                                <li><a class="text-medium  text-white" href="#">Contact Us</a></li>
                                <li><a class="text-medium  text-white" href="#">Apply Online</a></li>
                           
                            </ul>
                        </div>
                        <!-- start additional links -->
                        <div class="col-md-4 col-sm-6 col-xs-12 widget  padding-45px-left sm-padding-15px-left sm-no-border-right sm-margin-30px-bottom xs-text-center">
                            <div class="widget-title alt-font text-medium text-white text-uppercase margin-10px-bottom font-weight-600" style="font-size: 22px;">Contact Details</div>
                            <p class="text-medium text-white display-block margin-15px-bottom width-80 xs-center-col"><b>###</b> <br> ####</p>
                            <div class="text-medium text-white">Email: <a  class="text-white"href="mailto:support@indiantranscripts.com ">####</a></div>
                            <div class="text-medium text-white">Phone no: <a  class="text-white" href="tel:+91 88841 14731">####  </a></div>
                        </div>
                        <!-- end additional links -->
                        <!-- start contact information -->
                        <div class="col-md-4 col-sm-6 col-xs-12 widget  padding-45px-left sm-padding-15px-left sm-clear-both sm-no-border-right  xs-margin-30px-bottom xs-text-center">
                             <div class="widget-title alt-font text-medium text-white text-uppercase margin-20px-bottom font-weight-600" style="font-size: 22px;">Contacts</div>
                             <ul class="list-unstyled  text-white" >
                           
                            <li><a class="text-medium text-white" href="tel:+91 88841 14731">####</a></li>
                            <li><a class="text-medium text-white" href="tel:+91 88841 14732">####</a></li>
<!--                            <li><a class="text-medium text-white" href="tel:+91 88841 14739">Phone: INDIA +91 88841 14739</a></li>-->
                            </ul>
                             <div class="social-icon-style-8 display-inline-block vertical-align-middle">
                                <ul class="small-icon no-margin-bottom">
                                    <li><a class="facebook text-white" href="https://facebook.com/indiantranscriptscs/" target="_blank"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
                                    <li><a class="twitter text-white" href="https://www.twitter.com/indiantranscri1" target="_blank"><i class="fab fa-twitter"></i></a></li>
                                    <li><a class="instagram text-white" href="https://www.instagram.com/indiantranscripts/" target="_blank"><i class="fab fa-instagram no-margin-right" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                            
                        </div>
    
        
                    </div>
                </div>
            </div>
            <div class="bg-dark-footer padding-20px-tb text-center xs-padding-20px-tb">
                <div class="container">
                    <div class="row">
                        <!-- start copyright -->
                        <div class="col-md-12 col-sm-12 col-xs-12 text-center text-white text-medium xs-text-center"> &nbsp; &COPY; All rights reserved by developers of the Website and College. 
						
						</div>
                      
                        <!-- end copyright -->
                    </div>
                </div></div>
        </footer>    <!-- end footer -->
    <!-- start scroll to top -->
    <a class="scroll-top-arrow" href="javascript:void(0);"><i class="ti-arrow-up"></i></a>
    <!-- end scroll to top -->
    <!-- javascript libraries -->
    <script type="text/javascript" src="https://www.indiantranscripts.com/client_assets/js/jquery.js"></script>
    <script type="text/javascript" src="https://www.indiantranscripts.com/client_assets/js/modernizr.js"></script>
    <script type="text/javascript" src="https://www.indiantranscripts.com/client_assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://www.indiantranscripts.com/client_assets/js/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="https://www.indiantranscripts.com/client_assets/js/skrollr.min.js"></script>
    <script type="text/javascript" src="https://www.indiantranscripts.com/client_assets/js/smooth-scroll.js"></script>
    <script type="text/javascript" src="https://www.indiantranscripts.com/client_assets/js/jquery.appear.js"></script>
    <!-- menu navigation -->
    <script type="text/javascript" src="https://www.indiantranscripts.com/client_assets/js/bootsnav.js"></script>
    <script type="text/javascript" src="https://www.indiantranscripts.com/client_assets/js/jquery.nav.js"></script>
    <!-- animation -->
    <script type="text/javascript" src="https://www.indiantranscripts.com/client_assets/js/wow.min.js"></script>
    <!-- page scroll -->
    <script type="text/javascript" src="https://www.indiantranscripts.com/client_assets/js/page-scroll.js"></script>
    <!-- swiper carousel -->
    <script type="text/javascript" src="https://www.indiantranscripts.com/client_assets/js/swiper.min.js"></script>
    <!-- counter -->
    <script type="text/javascript" src="https://www.indiantranscripts.com/client_assets/js/jquery.count-to.js"></script>
    <!-- parallax -->
    <script type="text/javascript" src="https://www.indiantranscripts.com/client_assets/js/jquery.stellar.js"></script>
    <!-- magnific popup -->
    <script type="text/javascript" src="https://www.indiantranscripts.com/client_assets/js/jquery.magnific-popup.min.js"></script>
    <!-- portfolio with shorting tab -->
    <script type="text/javascript" src="https://www.indiantranscripts.com/client_assets/js/isotope.pkgd.min.js"></script>
    <!-- images loaded -->
    <script type="text/javascript" src="https://www.indiantranscripts.com/client_assets/js/imagesloaded.pkgd.min.js"></script>
    <!-- pull menu -->
    <script type="text/javascript" src="https://www.indiantranscripts.com/client_assets/js/classie.js"></script>
    <script type="text/javascript" src="https://www.indiantranscripts.com/client_assets/js/hamburger-menu.js"></script>
    <!-- counter -->
    <script type="text/javascript" src="https://www.indiantranscripts.com/client_assets/js/counter.js"></script>
    <!-- fit video -->
    <script type="text/javascript" src="https://www.indiantranscripts.com/client_assets/js/jquery.fitvids.js"></script>
    <!-- equalize -->
    <script type="text/javascript" src="https://www.indiantranscripts.com/client_assets/js/equalize.min.js"></script>
    <!-- skill bars -->
    <script type="text/javascript" src="https://www.indiantranscripts.com/client_assets/js/skill.bars.jquery.js"></script>
    <!-- justified gallery -->
    <script type="text/javascript" src="https://www.indiantranscripts.com/client_assets/js/justified-gallery.min.js"></script>
    <!-- pie chart -->
    <script type="text/javascript" src="https://www.indiantranscripts.com/client_assets/js/jquery.easypiechart.min.js"></script>
    <!-- instagram -->
    <script type="text/javascript" src="https://www.indiantranscripts.com/client_assets/js/instafeed.min.js"></script>
    <!-- retina -->
    <script type="text/javascript" src="https://www.indiantranscripts.com/client_assets/js/retina.min.js"></script>
    <!-- revolution -->
    <script type="text/javascript"
        src="https://www.indiantranscripts.com/client_assets/revolution/js/jquery.themepunch.tools.min.js"></script>
    <script type="text/javascript"
        src="https://www.indiantranscripts.com/client_assets/revolution/js/jquery.themepunch.revolution.min.js"></script>
    <!-- revolution slider extensions (load below extensions JS files only on local file systems to make the slider work! The following part can be removed on server for on demand loading) -->
    <!--<script type="text/javascript" src="revolution/js/extensions/revolution.extension.actions.min.js"></script>
         <script type="text/javascript" src="revolution/js/extensions/revolution.extension.carousel.min.js"></script>
         <script type="text/javascript" src="revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
         <script type="text/javascript" src="revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
         <script type="text/javascript" src="revolution/js/extensions/revolution.extension.migration.min.js"></script>
         <script type="text/javascript" src="revolution/js/extensions/revolution.extension.navigation.min.js"></script>
         <script type="text/javascript" src="revolution/js/extensions/revolution.extension.parallax.min.js"></script>
         <script type="text/javascript" src="revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
         <script type="text/javascript" src="revolution/js/extensions/revolution.extension.video.min.js"></script>-->
    <!-- setting -->
    <script type="text/javascript" src="https://www.indiantranscripts.com/client_assets/js/main.js"></script>
    <script>
    function read_more(id) {
        $("#link_" + id).css("display", "none");
        $("#content_" + id).css("display", "block");
    }

    function less_content(id) {
        $("#content_" + id).css("display", "none");
        $("#link_" + id).css("display", "block");

    }
    </script>
    <script>
    function isNumber(evt) {
        evt = (evt) ? evt : window.event;
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode > 31 && (charCode < 48 || charCode > 57)) {
            return false;
        }
        return true;
    }

    function isalpha(evt) {
        evt = (evt) ? evt : window.event;
        var charCode = (evt.which) ? evt.which : evt.keyCode;

        if (charCode == 32) {
            return true;
        } else if (charCode > 31 && (charCode < 65 || charCode > 90) && (charCode < 97 || charCode > 122) || charCode ==
            13) {
            return false;
        }
    }
    </script>

    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
    /*
      var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
	(function(){
	var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
	s1.async=true;
	s1.src='https://embed.tawk.to/5cdea8312846b90c57af049c/default';
	s1.charset='UTF-8';
	s1.setAttribute('crossorigin','*');
	s0.parentNode.insertBefore(s1,s0);
	})();
   */
    </script>
    <!--End of Tawk.to Script-->
    <script type="text/javascript">
    var $zoho = $zoho || {};
    $zoho.salesiq = $zoho.salesiq || {
        widgetcode: "8b634ec6f29a7f2524607959df2d68a625fe294bfe4f5b403bc4b78812d81c27e2b848a25dcdb16c5ab51d68a1915d48",
        values: {},
        ready: function() {}
    };
    var d = document;
    s = d.createElement("script");
    s.type = "text/javascript";
    s.id = "zsiqscript";
    s.defer = true;
    s.src = "https://salesiq.zoho.com/widget";
    t = d.getElementsByTagName("script")[0];
    t.parentNode.insertBefore(s, t);
    d.write("<div id='zsiqwidget'></div>");
    </script>

</body>

</html>
