
<!doctype html>
<html class="no-js" lang="en">
   <head>
      <!-- title -->
      <title>Education Transcripts Services Online – Delhi University Transcript Online &amp;
IGNOU Transcript Online for WES IQAS ICES CES ICAS PEBC NDEB – indiantranscripts.com</title>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1" />
      <meta name="author" content="">
      <!-- description -->
      <meta name="description" content="IndianTranscripts - This is your One-Stop destination for all your Education
Transcript for WES IQAS ICES CES ICAS PEBC NDEB. We at IndianTranscripts have Pan India
Network in assisting people for obtaining their educational transcripts from various Universities in
India – indiantranscripts.com"> 
      <!-- keywords -->
      <meta name="keywords" content="Delhi University Transcript online, IGNOU Transcript online, CBSE New Delhi
Transcript online, Guru Gobind Singh Indraprastha University Transcript online, Jamia Millia Islamia
University Transcript Online, Jamia Hamdard Transcript Online - indiantranscripts.com">
      <!-- favicon -->
      <link rel="shortcut icon" href="https://www.indiantranscripts.com/client_assets/assets/favicon.png">
      <!-- animation -->
      <link rel="stylesheet" href="https://www.indiantranscripts.com/client_assets/css/animate.css" />
      <!-- bootstrap -->
      <link rel="stylesheet" href="https://www.indiantranscripts.com/client_assets/css/bootstrap.min.css" />
      <!-- et line icon --> 
      <link rel="stylesheet" href="https://www.indiantranscripts.com/client_assets/css/et-line-icons.css" />
      <!-- font-awesome icon -->
      <link rel="stylesheet" href="https://www.indiantranscripts.com/client_assets/css/font-awesome.min.css" />
      <!-- themify icon -->
      <link rel="stylesheet" href="https://www.indiantranscripts.com/client_assets/css/themify-icons.css">
      <!-- swiper carousel -->
      <link rel="stylesheet" href="https://www.indiantranscripts.com/client_assets/css/swiper.min.css">
      <!-- justified gallery -->
      <link rel="stylesheet" href="https://www.indiantranscripts.com/client_assets/css/justified-gallery.min.css">
      <!-- magnific popup -->
      <link rel="stylesheet" href="https://www.indiantranscripts.com/client_assets/css/magnific-popup.css" />
      <!-- revolution slider -->
      <link rel="stylesheet" type="text/css" href="https://www.indiantranscripts.com/client_assets/revolution/css/settings.css" media="screen" />
      <link rel="stylesheet" type="text/css" href="https://www.indiantranscripts.com/client_assets/revolution/css/layers.css">
      <link rel="stylesheet" type="text/css" href="https://www.indiantranscripts.com/client_assets/revolution/css/navigation.css">
      <!-- bootsnav -->
      <link rel="stylesheet" href="https://www.indiantranscripts.com/client_assets/css/bootsnav.css">
      <!-- style -->
      <link rel="stylesheet" href="https://www.indiantranscripts.com/client_assets/css/style.css" />
      <!-- responsive css -->
      <link rel="stylesheet" href="https://www.indiantranscripts.com/client_assets/css/responsive.css" />
      <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
     
	  
	  <!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-139956421-1"></script>
		<script>
		  window.dataLayer = window.dataLayer || [];
		  function gtag(){dataLayer.push(arguments);}
		  gtag('js', new Date());

		  gtag('config', 'UA-139956421-1');
		</script>

   </head>
   <body>
      <!-- start header -->
       <script type="text/javascript" src="https://www.indiantranscripts.com/client_assets/js/jquery.min.js"></script>
<script type="text/javascript" src="https://www.indiantranscripts.com/client_assets/js/jquery-1.9.1.min.js"></script>
<!--Popup Start-->
        <link rel="stylesheet" href="https://www.indiantranscripts.com/client_assets/pop/remodal.css">
      <link rel="stylesheet" href="https://www.indiantranscripts.com/client_assets/pop/remodal-default-theme.css">

    
    
      <style>
         .remodal-overlay.without-animation.remodal-is-opening,
         .remodal-overlay.without-animation.remodal-is-closing,
         .remodal.without-animation.remodal-is-opening,
         .remodal.without-animation.remodal-is-closing,
         .remodal-bg.without-animation.remodal-is-opening,
         .remodal-bg.without-animation.remodal-is-closing {
         animation: none;
         }
         .form-control {
         height: 42px;}
		 

         .booking-cancel, .cancel_own_booking, .delete_booking, .delete_invoice{background: #ff4e00; }
		 .signin_1{
			 margin-top:16%!important;
		 }
		 @media only screen and (max-width:767px){
			 .signin_1{
			 margin-top:2%!important;
		 }
		 }
      </style>
<script src="https://www.indiantranscripts.com/client_assets/pop/jquery-loader.js"></script>    
        <script src="https://www.indiantranscripts.com/client_assets/pop/remodal.js"></script>
       
<style>
/*whatsapp*/
.whatsapp-section {
    position: fixed;
    bottom: 80px;
    right: 17px;
    width: 50px;
    height: 45px;
    z-index: 9999;
}
</style>
<header>
    <!--    whatsapp-->
<!-- <div class="whatsapp-section" id="whatsapp">
    <a href="https://api.whatsapp.com/send?phone=+918884114731&amp;text=Hi, I have few queries. Can we connect ?" target="_blank"><img src="../../../client_assets/assets/whatsapp.png" style="width:100%" alt="whatsapp" data-no-retina=""></a>
</div>
     -->
    
   <!-- topbar -->
   <!-- end topbar -->
   <!-- start navigation -->
   <nav class="navbar navbar-default bootsnav navbar-top header-light bg-transparent nav-box-width white-link">
      <div class="container-fluid nav-header-container">
         <div class="row">
            <!-- start logo -->
            <div class="col-md-3 col-xs-5">
               <a href="#" title="" class="logo"><img src="./img/icon-transparent.png" style="height:300px; width: 200px;"      data-rjs="./img/icon-transparent.png" class="logo-dark default" alt="" >
                  <img  src="./img/icon-transparent.png" data-rjs="./img/icon-transparent.png" style="height:2px"      alt="" class="logo-light">
                    
			   </a> 
			   <!-- <a href="https://www.indiantranscripts.com/index.php/home/" style="color:#1578ba;font-size:16px;" class="alt-font font-weight-600">Indian Transcripts</a> -->
            </div>
            <!-- end logo -->
            <div class="col-md-7 col-xs-2 width-auto pull-right accordion-menu xs-no-padding-right">
               <button type="button" class="navbar-toggle collapsed pull-right" data-toggle="collapse" data-target="#navbar-collapse-toggle-1">
               <span class="sr-only">toggle navigation</span>
               <span class="icon-bar"></span
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               </button>
               <div class="navbar-collapse collapse pull-right" id="navbar-collapse-toggle-1">
                  <ul id="accordion" class="nav navbar-nav navbar-left no-margin alt-font text-normal" data-in="fadeIn" data-out="fadeOut">
                                    <!-- start menu item -->
                                    
                                    <!-- end menu item -->
                                    <li ><a href="./home.html">Home</a> </li>

                                    <li ><a href="#">Apply online</a> </li>
                                    <li ><a href="#">Request status</a> </li>
                                    <li ><a href="#">Contact us</a> </li>


                                     <li >
                                                <a class="btn btn-medium signin_1"  href="#" style="    background-color: #b01212 !important; padding: 3px 15px 6px 15px;border-radius: 14px;">Log In</a> 
                                               </li>
                                              <li><a class="btn btn-medium signin_1"  href="#" style="    background-color:none !important; padding: 3px 15px 6px 15px;border-radius:14px;"></a> 
                                              </li>
                                                         </div>
            </div>
         </div>
      </div>
   </nav>
   <!-- end navigation --> 
   <!-- end navigation --> 
</header>


 <div class="remodal" data-remodal-id="order_success" style="background-color: #ffffff ;">
         <a data-remodal-action="close" class="remodal-close" style="color:#000;"></a>                                       
         <div class="modal-body">
            <img src="https://www.indiantranscripts.com/client_assets/assets/main-logo.png" style="padding: 2%;    width: 50%;height: 50%;">
            <h4 style="line-height: 38px;font-size:19px;">Your payment was successfully done.
               Our team will get in touch with you soon....!
            </h4>
         </div>
      </div>

  <div class="remodal" data-remodal-id="order_failed" style="background-color: #ffffff;">
     <a data-remodal-action="close" class="remodal-close" style="color:#000;"></a>                                       
     <div class="modal-body">
        <img src="https://www.indiantranscripts.com/client_assets/assets/main-logo.png" style="padding: 2%; width: 50%;height: 50%;">
        <h4 style="line-height: 38px;font-size:19px;">Your payment was failed.
         Please Try again...!
        </h4>
     </div>
  </div>


  <div class="remodal" data-remodal-id="enquiry_success" style="background-color: #ffffff;">
     <a data-remodal-action="close" class="remodal-close" style="color:#000;"></a>                                       
     <div class="modal-body">
        <img src="https://www.indiantranscripts.com/client_assets/assets/main-logo.png" style="padding: 2%; width: 50%;height: 50%;">
        <h4 style="line-height: 38px;font-size:19px;">Your message has been sent.
               Our team will get in touch with you soon....!
        </h4>
     </div>
  </div>


  <div class="remodal" data-remodal-id="login_success" style="background-color: #ffffff;">
     <a data-remodal-action="close" class="remodal-close" style="color:#000;"></a>                                       
     <div class="modal-body">
        <img src="https://www.indiantranscripts.com/client_assets/assets/main-logo.png" style="padding: 2%; width: 50%;height: 50%;">
        <h4 style="line-height: 38px;font-size:19px;"> User Login is successfully done..!
        </h4>
     </div>
  </div>
  
   <div class="remodal" data-remodal-id="booking_registered" style="background-color: #ffffff;">
     <a data-remodal-action="close"  class="remodal-close" style=" color: #000;  "></a>                                       
     <div class="modal-body">
        <img src="https://www.indiantranscripts.com/client_assets/assets/main-logo.png" style="padding: 2%; width: 50%;height: 50%;">
        <h4 style="line-height: 38px;font-size:19px;"> Already your Booking is registered. Check the order status.
        </h4>
     </div>
  </div>

      <!-- end header -->
      <section class="wow fadeIn cover-background background-position-top "
         style="background-image:url('https://www.indiantranscripts.com/client_assets/assets/signin-bg.jpg');margin-top: 0px !important;    padding: 90px 0;">
         <div class="container">
            <div class="row">
               <div class="col-md-12 col-sm-12 col-xs-12 display-table page-title-large">
                  <div class="display-table-cell vertical-align-middle text-center ">
                     <!-- start sub title -->
                     <!-- end sub title -->
                     <!-- start page title -->
                     <h3 class="alt-font text-white font-weight-600 no-margin-bottom" style="padding-bottom:0px;padding-top:4%;font-size:34px;">
                     Log In to Apply</h2>
                     <!-- end page title -->
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- end page title section -->
      <!-- start section -->
      <!-- end section -->
      <!-- start feature box section -->
      

      <section class=" wow fadeIn bg-light-gray " style="padding-top: 48px;    padding-bottom: 48px;background:url(https://www.indiantranscripts.com/client_assets/assets/bg3.jpg);background-size:cover;    background-repeat: no-repeat;">
            <div class="container">

                

                <div class="row equalize sm-equalize-auto">
                    <div class="col-lg-6 col-md-offset-3 col-md-6 col-sm-12 col-xs-12 " >

                    

                    <form  method="post" action="https://www.indiantranscripts.com/index.php/home/user_normal_signin"  style="height:auto;background-color: #fff;padding: 7%;box-shadow: 2px 3px 9px #797777;border-radius: 6px;">

                      
                     					 
					 
                    <h5>Log In</h5>
                    <div class="row">
                         <div class="col-md-12">
                            <div id="success-project-contact-form" class="no-margin-lr"></div>
                        </div>
                        <div class="col-md-12">
                          <!-- <i class="fa fa-user icon" style=" position: absolute;top: 24%;"></i> -->
                            <input type="email" name="email" id="email" placeholder="Email" required="" class="big-input">
                        </div>
                        
                      
                          <div class="col-md-12">
                            <!-- <i class="fa fa-key icon" style=" position: absolute;top: 24%;"></i> -->
                            <input type="password" name="password" id="password" placeholder="Password" required="" class="big-input">
                        </div>
						
						<!-- <div class="col-md-12">
					   <div class="form-group">  
							<a href="https://www.indiantranscripts.com/index.php/home/forgot_password" style="float:right;">
								<em>Forgot Password?</em>&nbsp;
								<i class="fa fa-question-circle"></i>
							</a>
							</div>
					   </div> -->

                        <div class="col-md-12 text-center">
                            <button id="project-contact-us-button" type="submit" class="btn btn-dark-gray btn-large margin-20px-top" style="width:100%;">Log In </button>
                        </div>
                        
                        
                        
                        
                        
                        
                             </div>
                             
                             
                    </div>
                </form> 
                </div>
            </div>
        </section>
      <!-- start slider section -->
      <style>
.text-medium {
    font-size: 15px;
    line-height: 32px;
}
ul.list-unstyled.text-black li {
    padding-bottom: 1%;
    padding-left: 2%;
    border-bottom: 1px solid #fff;
}
</style>

<footer class="footer-standard-dark bg-extra-dark-gray" > 
   <div class="footer-widget-area padding-three-tb xs-padding-30px-tb">
       <div class="container" style="padding: 0px;"
           <div class="row equalize xs-equalize-auto">
               <div class="col-md-3 col-sm-6 col-xs-12 widget  sm-margin-30px-bottom xs-text-center">
                   <div class="widget-title alt-font text-medium text-white text-uppercase margin-10px-bottom font-weight-600" style="font-size: 22px;"> Links</div>
                   <ul class="list-unstyled  text-black" >
                    
                       <li><a class="text-medium  text-white" href="#">About us</a></li>
                       <li><a class="text-medium  text-white" href="#">FAQs</a></li> 
                       <!-- <li><a class="text-medium  text-white" href="https://www.indiantranscripts.com/index.php/home/refund">Refund policy</a></li> -->
                       
                       <li><a class="text-medium  text-white" href="#">Contact Us</a></li>
                       <li><a class="text-medium  text-white" href="#">Apply Online</a></li>
                  
                   </ul>
               </div>
               <!-- start additional links -->
               <div class="col-md-4 col-sm-6 col-xs-12 widget  padding-45px-left sm-padding-15px-left sm-no-border-right sm-margin-30px-bottom xs-text-center">
                   <div class="widget-title alt-font text-medium text-white text-uppercase margin-10px-bottom font-weight-600" style="font-size: 22px;">Contact Details</div>
                   <p class="text-medium text-white display-block margin-15px-bottom width-80 xs-center-col"><b>###</b> <br> ####</p>
                   <div class="text-medium text-white">Email: <a  class="text-white"href="mailto:support@indiantranscripts.com ">####</a></div>
                   <div class="text-medium text-white">Phone no: <a  class="text-white" href="tel:+91 88841 14731">####  </a></div>
               </div>
               <!-- end additional links -->
               <!-- start contact information -->
               <div class="col-md-4 col-sm-6 col-xs-12 widget  padding-45px-left sm-padding-15px-left sm-clear-both sm-no-border-right  xs-margin-30px-bottom xs-text-center">
                    <div class="widget-title alt-font text-medium text-white text-uppercase margin-20px-bottom font-weight-600" style="font-size: 22px;">Contacts</div>
                    <ul class="list-unstyled  text-white" >
                  
                   <li><a class="text-medium text-white" href="tel:+91 88841 14731">####</a></li>
                   <li><a class="text-medium text-white" href="tel:+91 88841 14732">####</a></li>
<!--                            <li><a class="text-medium text-white" href="tel:+91 88841 14739">Phone: INDIA +91 88841 14739</a></li>-->
                   </ul>
                    <div class="social-icon-style-8 display-inline-block vertical-align-middle">
                       <ul class="small-icon no-margin-bottom">
                           <li><a class="facebook text-white" href="https://facebook.com/indiantranscriptscs/" target="_blank"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
                           <li><a class="twitter text-white" href="https://www.twitter.com/indiantranscri1" target="_blank"><i class="fab fa-twitter"></i></a></li>
                           <li><a class="instagram text-white" href="https://www.instagram.com/indiantranscripts/" target="_blank"><i class="fab fa-instagram no-margin-right" aria-hidden="true"></i></a></li>
                       </ul>
                   </div>
                   
               </div>


           </div>
       </div>
   </div>
   <div class="bg-dark-footer padding-20px-tb text-center xs-padding-20px-tb">
       <div class="container">
           <div class="row">
               <!-- start copyright -->
               <div class="col-md-12 col-sm-12 col-xs-12 text-center text-white text-medium xs-text-center"> &nbsp; &COPY; All rights reserved by developers of the Website and College. 
         
         </div>
             
               <!-- end copyright -->
           </div>
       </div></div>
</footer>    <!-- end footer -->
      <!-- start scroll to top -->
      <a class="scroll-top-arrow" href="javascript:void(0);"><i class="ti-arrow-up"></i></a>
      <!-- end scroll to top -->
      <!-- javascript libraries -->
      <script type="text/javascript" src="https://www.indiantranscripts.com/client_assets/js/jquery.js"></script>
      <script type="text/javascript" src="https://www.indiantranscripts.com/client_assets/js/modernizr.js"></script>
      <script type="text/javascript" src="https://www.indiantranscripts.com/client_assets/js/bootstrap.min.js"></script>
      <script type="text/javascript" src="https://www.indiantranscripts.com/client_assets/js/jquery.easing.1.3.js"></script>
      <script type="text/javascript" src="https://www.indiantranscripts.com/client_assets/js/skrollr.min.js"></script>
      <script type="text/javascript" src="https://www.indiantranscripts.com/client_assets/js/smooth-scroll.js"></script>
      <script type="text/javascript" src="https://www.indiantranscripts.com/client_assets/js/jquery.appear.js"></script>
      <!-- menu navigation -->
      <script type="text/javascript" src="https://www.indiantranscripts.com/client_assets/js/bootsnav.js"></script>
      <script type="text/javascript" src="js/jquery.nav.js"></script>
      <!-- animation -->
      <script type="text/javascript" src="https://www.indiantranscripts.com/client_assets/js/wow.min.js"></script>
      <!-- page scroll -->
      <script type="text/javascript" src="https://www.indiantranscripts.com/client_assets/js/page-scroll.js"></script>
      <!-- swiper carousel -->
      <script type="text/javascript" src="https://www.indiantranscripts.com/client_assets/js/swiper.min.js"></script>
      <!-- counter -->
      <script type="text/javascript" src="https://www.indiantranscripts.com/client_assets/js/jquery.count-to.js"></script>
      <!-- parallax -->
      <script type="text/javascript" src="https://www.indiantranscripts.com/client_assets/js/jquery.stellar.js"></script>
      <!-- magnific popup -->
      <script type="text/javascript" src="https://www.indiantranscripts.com/client_assets/js/jquery.magnific-popup.min.js"></script>
      <!-- portfolio with shorting tab -->
      <script type="text/javascript" src="https://www.indiantranscripts.com/client_assets/js/isotope.pkgd.min.js"></script>
      <!-- images loaded -->
      <script type="text/javascript" src="https://www.indiantranscripts.com/client_assets/js/imagesloaded.pkgd.min.js"></script>
      <!-- pull menu -->
      <script type="text/javascript" src="https://www.indiantranscripts.com/client_assets/js/classie.js"></script>
      <script type="text/javascript" src="https://www.indiantranscripts.com/client_assets/js/hamburger-menu.js"></script>
      <!-- counter -->
      <script type="text/javascript" src="https://www.indiantranscripts.com/client_assets/js/counter.js"></script>
      <!-- fit video -->
      <script type="text/javascript" src="https://www.indiantranscripts.com/client_assets/js/jquery.fitvids.js"></script>
      <!-- equalize -->
      <script type="text/javascript" src="https://www.indiantranscripts.com/client_assets/js/equalize.min.js"></script>
      <!-- skill bars -->
      <script type="text/javascript" src="https://www.indiantranscripts.com/client_assets/js/skill.bars.jquery.js"></script> 
      <!-- justified gallery -->
      <script type="text/javascript" src="js/justified-gallery.min.js"></script>
      <!-- pie chart -->
      <script type="text/javascript" src="https://www.indiantranscripts.com/client_assets/js/jquery.easypiechart.min.js"></script>
      <!-- instagram -->
      <script type="text/javascript" src="https://www.indiantranscripts.com/client_assets/js/instafeed.min.js"></script>
      <!-- retina -->
      <script type="text/javascript" src="https://www.indiantranscripts.com/client_assets/js/retina.min.js"></script>
      <!-- revolution -->
      <script type="text/javascript" src="https://www.indiantranscripts.com/client_assets/revolution/js/jquery.themepunch.tools.min.js"></script>
      <script type="text/javascript" src="https://www.indiantranscripts.com/client_assets/revolution/js/jquery.themepunch.revolution.min.js"></script>
      <!-- revolution slider extensions (load below extensions JS files only on local file systems to make the slider work! The following part can be removed on server for on demand loading) -->
      <!--<script type="text/javascript" src="revolution/js/extensions/revolution.extension.actions.min.js"></script>
         <script type="text/javascript" src="revolution/js/extensions/revolution.extension.carousel.min.js"></script>
         <script type="text/javascript" src="revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
         <script type="text/javascript" src="revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
         <script type="text/javascript" src="revolution/js/extensions/revolution.extension.migration.min.js"></script>
         <script type="text/javascript" src="revolution/js/extensions/revolution.extension.navigation.min.js"></script>
         <script type="text/javascript" src="revolution/js/extensions/revolution.extension.parallax.min.js"></script>
         <script type="text/javascript" src="revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
         <script type="text/javascript" src="revolution/js/extensions/revolution.extension.video.min.js"></script>-->
      <!-- setting -->
      <script type="text/javascript" src="https://www.indiantranscripts.com/client_assets/js/main.js"></script>
	  
	   <!--Start of Tawk.to Script-->
		<script type="text/javascript">
		/*
      var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
		(function(){
		var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
		s1.async=true;
		s1.src='https://embed.tawk.to/5cdea8312846b90c57af049c/default';
		s1.charset='UTF-8';
		s1.setAttribute('crossorigin','*');
		s0.parentNode.insertBefore(s1,s0);
		})();
      */
		</script>
		<!--End of Tawk.to Script-->
      <!-- <script type="text/javascript"> var $zoho=$zoho || {};$zoho.salesiq = $zoho.salesiq || {widgetcode:"8b634ec6f29a7f2524607959df2d68a625fe294bfe4f5b403bc4b78812d81c27e2b848a25dcdb16c5ab51d68a1915d48", values:{},ready:function(){}}; var d=document;s=d.createElement("script");s.type="text/javascript";s.id="zsiqscript";s.defer=true; s.src="https://salesiq.zoho.com/widget";t=d.getElementsByTagName("script")[0];t.parentNode.insertBefore(s,t);d.write("<div id='zsiqwidget'></div>"); </script> -->
		
   </body>
</html>