<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
    <link rel="stylesheet" href="/css/user.css" />
  </head>
  <body>
    <div class="form">
      <h2>Register</h2>
      <form method="POST" action="/register" onsubmit="return validateForm()">
        <div class="element">
          <label for="username">Username</label>
          <input type="text" name="username" id="username" autofocus required />
        </div>
        <div class="element">
          <label for="email">Email</label>
          <input type="email" name="email" id="email" required />
        </div>
        <div class="element">
          <label for="password">Password</label>
          <input type="password" name="password" id="password" required />
        </div>
        <div class="element">
          <label for="cpassword">Confirm Password</label>
          <input type="password" name="cpassword" id="cpassword" required />
        </div>
        <button type="submit" id="btn-submit">Register</button>
      </form>
    </div>
  </body>
  <script src="/javascript/register.js"></script>
</html>
